@import "auxiliar.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}
.animationTitle{
    color: red;
    animation-name: animationTitle;
    animation-duration: 30s;
    text-align: center;
    letter-spacing:10px;
  }
  @keyframes animationTitle{
    25% {color: brown;}
    50% {color: darkred;}
    75% {color: black;}
    85% {color:crimson;}
    100% {color:red;}
  }
div{
    

    h2{
        letter-spacing: 10px;
        text-align: center;
    }
}

    .obra_disp{
    border: 2px solid brown;
    max-width: 25%;
    margin: 3%;
    }






 
    .estilos_map {
        background-color: map-get($map: $estilos, $key: color);
        text-align: map-get($map: $estilos, $key: alineacion );
        padding: map-get($map: $estilos, $key: relleno );
        border: map-get($map: $estilos, $key:borde );
    }

    .estilos_map--inferior{
        @extend.estilos_map;
        color: rgb(219, 219, 227);
        background-color: brown;
        
    }
    @mixin colours($a , $b) {
        background-image: linear-gradient(to left, $a , $b);
        
    }
    .box_mixin{
        @include colours(blue, yellow);
    }
