* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.animationTitle {
  color: #ffd9ce;
  animation-name: animationTitle;
  animation-duration: 30s;
  text-align: center;
  letter-spacing: 10px;
  background-color: #8c4843;
  padding: 3%; }

@keyframes animationTitle {
  25% {
    color: #8c4843; }
  50% {
    color: darkred; }
  75% {
    color: black; }
  85% {
    color: crimson; }
  100% {
    color: #ffd9ce; } }

div h2 {
  letter-spacing: 10px;
  text-align: center;
  color: #8c4843; }

.imagenes-grid {
  min-height: 100%;
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  justify-content: space-around; }
  .imagenes-grid .obra_grid {
    max-width: 90%;
    margin: 5%;
    border: 5px #8c4843 solid; }

.texto {
  width: 100%;
  background-color: #ffd9ce;
  padding: 2%;
  margin: 3%; }

.volver {
  text-align: center;
  margin: 5%;
  font-family: 'Times New Roman', Times, serif; }

.estilos_map {
  background-color: #ffd9ce;
  text-align: center;
  padding: 1rem;
  border: 1px solid brown; }

/*.estilos_map--inferior {
    @extend.estilos_map;
    color: rgb(219, 219, 227);
    background-color: brown;

}

@mixin colours($a, $b) {
    background-image: linear-gradient(to left, $a, $b);

}

.box_mixin {
    @include colours(blue, yellow);
}*/
@media only screen and (max-width: 900px) {
  .imagenes-grid {
    grid-template-columns: 1fr; } }

@media only screen and (max-width: 900px) and (min-width: 900px) {
  .imagenes-grid {
    grid-template-columns: 1fr 1fr; } }

@media only screen and (max-width: 900px) {
  li {
    display: inline; } }
