* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.estilos_map, .estilos_map--inferior {
  background-color: antiquewhite;
  text-align: center;
  padding: 1rem;
  border: 2px solid brown; }

.estilos_map--inferior {
  color: #dbdbe3;
  background-color: brown; }

.box_mixin {
  background-image: linear-gradient(to left, blue, yellow); }

  .animationTitle {
    color: red;
    animation-name: animationTitle;
    animation-duration: 15s;
  }

  @keyframes animationTitle {
    25% {
      color: brown;
    }

    50% {
      color: darkred;
    }

    75% {
      color: black;
    }

    100% {
      color: red;
    }
  }
